<!-- Block content -->
{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="cardContainer">
    {% for i in objects reversed %}
    <div class="square">
        <a href="{{ i.url }}"><img src="{{ i.image.url }}" class="mask"></a>
        <div class="title">{{ i.title }}</div>
        <p class="description">{{ i.description }}</p>
        <div class="skillsContainer">
            {% for v in i.tech.values %}
            <h1 class="badge text-dark border border-dark"><span class="skills">{{ v }}</span></h1>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}